{% extends "FrontendPanelBundle::main.html.twig" %}

{% block title %}  UA Store™ - {{entities.title}} {% endblock %}

{% block stylesheets %} 
    <link href="{{ asset('bundles/frontendstore/css/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block body -%}
    <br>
    <div class="main width" id="box-article">
        <div>
            <div class="center_wrapper">
                <div class="center_part">
                    <h1 class="articles_h1">{{entities.title}}</h1>
                    <div class="article_text">
                        {{entities.description | raw }}
                    </div>    
                </div>    
            </div>    
            <div class="right_part">
                
            </div>    
            <div class="clr"></div>
        </div>
    </div>
    
    <br>
    
{% endblock %}    

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/frontendstore/js/index.js') }}"></script>
{% endblock %}
