<footer id="body-footer" class="body-footer" >
    <div class="wrap clearfix">
        <div class="clearfix">
            <div class="grid-col4">
                <div class="grid-box">
                <div class="copy">
                © Интернет-магазин «UA Store™»
                <nobr>2000–2015</nobr>
                </div>
                <div class="copy-remark">
                ТМ используется на основании лицензии
                <br>
                правообладателя UA Store
                </div>
                <ul class="schedule-l">
                    <li class="schedule-l-i">
                    График работы Call-центра
                    </li>
                    <li class="schedule-l-i">В будние дни с 8 до 21</li>
                    <li class="schedule-l-i">Суббота с 9 до 20</li>
                    <li class="schedule-l-i">Воскресенье с 10 до 19</li>
                </ul>
                </div>   
            </div>
            <div class="grid-col4">
                <div class="grid-box">
                <ul class="footer-l">
                    <li class="footer-l-i">
                    <a class="novisited" href="{{path('article', {id: 44, slug:'gift'})}}">Подарочные сертификаты</a>
                    </li>
                    <li class="footer-l-i">
                    <a class="novisited" href="{{path('article', {id: 43, slug:'service-center'})}}">Сервисные центры</a>
                    </li>
                </ul>
                </div>
                </div>
        <div class="grid-col4">
            <div class="grid-box">
                <ul class="footer-l">
                <li class="footer-l-i">
                <a class="novisited" href="{{path('article', {id: 39, slug:'o-magazine'})}}">О нас</a>
                </li>
                <li class="footer-l-i">
                <a class="novisited" href="{{path('article', {id: 40, slug:'contact'})}}">Контакты</a>
                </li>
                <li class="footer-l-i">
                <a class="novisited" href="{{path('article', {id: 37, slug:'dostavka'})}}">Доставка</a>
                </li>
                <li class="footer-l-i">
                <a class="novisited footer-terms" href="{{path('article', {id: 34, slug:'oplata'})}}">Оплата</a>
                </li>
                </ul>
                </div>
            <br>
            <section class="payment-methods clearfix">
                <h4 class="payment-methods-title">Принимаем к оплате</h4>
                 <img  src="{{ asset('images/icon/card.png') }}" itemprop="card" title="card" alt=""> 
            </section>
        </div>
            <div class="grid-col4">
                <img  src="{{ asset('images/logo.png') }}" itemprop="logotype" title="logotype" alt=""> 
                <br>
                <span class="logo">
                Интернет-магазин разработан
                <br>
                и поддерживается
                <span class="logo">в компании UA Store™</span>
                </span>
                <br>
                <span class="logogrey">2011–2015</span>
            </div>                
        </div>
        <div class="clearfix"></div>
        <div id="" align="feedback_container"></div>
    </div>       
</footer>